* {
	/* font-family: "Bitstream Vera Sans Mono:size=10", "FiraCode Nerd Font:size=11"; */
	font-family: "Bitstream Vera Sans Mono", "FiraCode Nerd Font";
	font-size: 13px;
	border: none;

	/* Define generic colors */
	/* --black: #000000; */
	/* --darkgrey: #2e3440; */
	/* --grey: #787C8F; */
	/* --white: #ffffff; */
	/* --offwhite: #d8dee9; */
	/* --red: #bf616a; */

	/* Define theme-specific fg and bg colors */
	/* --fg: var(--white); */
	/* --bg: var(--black); */
}

window#waybar { 
	background: #000000;
	color: #ffffff;
}

/* Sway workspaces */
#workspaces button {
	background: #000000;
	color: #ffffff;
	padding: 0 5px;
	border-radius: 0px;
}

#workspaces button.focused { 
	background: #787C8F;
	color: #ffffff;
}

#workspaces button.urgent { 
	background: red;
}

#workspaces button:hover { 
	background: blue;
	color: #ffffff;
}

/* River tags */
#tags button {
	background: #000000;
	color: #ffffff;
	padding: 0 5px;
	border-radius: 0px;
}

#tags button:not(.occupied) { 
	color: #000000;
}

#tags button.focused { 
	background: #787C8F;
	color: #ffffff;
}

#tags button.urgent { 
	background: red;
}

#tags button:hover { 
	background: blue;
	color: #ffffff;
}

#mode { 
	padding: 0px 5px 0px 5px;
}

#window {
	padding: 0px 10px 0px 10px;
}

/* Module configuration */
#battery.warning {
   color: #D08770;
}

#battery.critical {
   color: #bf616a;
}

#temperature.critical {
   color: #bf616a;
}
